# dependencies
node_modules/

# Next.js build output
.next/
out/

# production build
build/

# env files
.env
.env.local
.env*.local

# debug logs
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
